.company {
  padding-top: 120px;
  .card {
    height: 100%;
    img {
      width: 120px;
      margin: 0 auto;
    }
    .card-body {
      padding: 6px 10px;
      .card-title {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
      }
      .card-text {
        max-height: 220px;
        overflow-y: auto;
        height: 220px;
      }
    }
  }
  @media(max-width: 991px) {
    .card {
      margin-bottom: 16px;
      height: unset;
      .card-body {
        height: unset;
      }
    }
  }
}