/**************** chefs_part css start ****************/
.environment_part {
  overflow: hidden;
  padding-top: 100px;
  .section_tittle {
    margin-bottom: 20px;
  }
  @media #{$tab} {
    padding: 70px 0 10px;
  }
  @media #{$medium_device} {
  }

  .carousel-item {
    .item-img {
      max-height: 500px;
      object-fit: cover;
    }
    h5 {
      font-weight: bolder;
      font-size: 30px;
      @media #{$tab} {
        font-size: 16px;
        margin: 0;
      }
    }
  }
  
}
